body {
    background-color: #b12f6e;
    color: #fff;
  }
  
  .container {
    margin-top: 50px;
    width: 400px;
  }
  
  .form-label,
  .btn {
    margin-top: 10px;
  }
  
  .btn-secondary {
    margin-left: 10px;
  }